<!--<div class="fade-area"></div>-->
<h3 data-bind="text: descriptionModal.modalTitle"></h3>
<p class="info-descriptor">Type</p>
<p class="info" data-bind="text: descriptionModal.modalType"></p>
<p class="info-descriptor">Coordinates</p>
<p class="info" data-bind="text: descriptionModal.modalCoordinates"></p>
<p class="info-descriptor">Descritivo</p>
<p class="info" data-bind="text: descriptionModal.modalDescription"></p>
<div class="description-img">
    <img>
</div>
<button>Favourite</button>
<button data-bind="click: resetDescriptionModal">Close</button>