<div id="weather" data-bind="visible: model.aside.asideContent() === 'weather'">
    <div>
        <h2>Weather</h2>
    </div>
    <div class="aside-specific-content">
        <div class="weather-condition">
            <img src="" data-bind="attr: {src: model.weather.icon, alt: model.weather.weather}">
            <p data-bind="text: model.weather.weather"></p>
        </div>
        <p><strong>Temperature</strong> <span data-bind="text: model.weather.temp"></span>ºC<br>(min: <span data-bind="text: model.weather.tempMin"></span> — max: <span data-bind="text: model.weather.tempMax"></span>)</p>
        <p><strong>Humidity</strong> <span data-bind="text: model.weather.humidity"></span>%</p>
        <p><strong>Wind speed</strong> <span data-bind="text: model.weather.windSpeed"></span>km/h</p>
        <p class="warning" data-bind="text: model.weather.warning"></p>
        <p class="text-small">(info provided by Open Weather Maps)</p>
    </div>
</div>