#description {
    position: absolute;
    width: 320px;
    overflow: scroll;
    padding: 10px;
    left: calc(50% - 160px);
    background: white;
}

[class*='description-content-area'] {
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
}

.description-content-area-out {
    top: 100%;
}

.description-content-area-in {
    top: 0;
}

.description-content-area-out h3,
.description-content-area-in h3 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#description .info-descriptor {
    margin: 10px 0 3px 0;
    font-weight: bold;
}

#description .text-small {
    font-size: 0.65em;
}

#description .button-favourite,
#description .button-unfavourite {
    cursor: pointer;
    width: 100%;
    height: 64px;
    margin-top: 5px;
}

#description .button-favourite {
    border: 1px solid #FF6262;
    background-color: #FF6262;
}

#description .button-unfavourite {
    border: 1px solid #FF6262;
    background-color: white;
}

#description .button-favourite .heart-div,
#description .button-unfavourite .heart-div {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-image: url(../assets/layout-sprite.png);
    -webkit-background-size: 486px 61px;
    background-size: 486px 61px;
    overflow: hidden;
}

#description .button-favourite .heart-div {
    background-position: -61px -1px;
}

#description button {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    height: 44px;
    font-size: 1em;
    color: #444;
    background-color: #EEEEEE;
    margin-top: 5px;
}

@media screen and (min-height: 480px) {
    .description-content-area-in {
        top: calc(50% - 240px);
    }
}