@charset "UTF-8";

* {
    box-sizing: border-box;
}

/*setup to get footer always on bottom of page*/
html,
body {
    height: 100%;
    overflow: hidden;
}

.global-container {
    height: 100%;
    /*min-height: 100%;*/
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}
/*
.page-content {
    padding-bottom: 110px;
}

footer {
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
}
*/