#map {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: calc(100% - 44px);
    background-image: url(../assets/porto_768.jpg);
    background-size: cover;
}

.message-box {
    position: absolute;
    bottom: 25px;
    padding: 10px;
    margin: 5px;
    line-height: 1.5em;
    font-size: 0.875em;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 768px) {
    #map {
        top: 58px;
        height: calc(100% - 58px);
    }

    #map .map-error {
        margin: 10px;
        width: 420px;
    }
}

@media screen and (min-width: 1024px) {
    #map {
        background-image: url(../assets/porto_1024.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1366px) {
    #map {
        background-image: url(../assets/porto_1920.jpg);
        background-size: contain;
    }
}