/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:89f8f9c6297f3695574f165187feb0ed:b649a5737c8a6fd9a6080bc8ca453bf2:9b1a95796ba8309fd95b02715ec0140e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(layout-sprite.png);}

.fav-false {width:120px; height:120px; background-position: -1px -1px}
.ic_favorite {width:120px; height:120px; background-position: -123px -1px}
.menu-check {width:119px; height:119px; background-position: -489px -1px}
.menu-in {width:120px; height:120px; background-position: -245px -1px}
.menu-list {width:119px; height:119px; background-position: -610px -1px}
.menu-login {width:119px; height:119px; background-position: -731px -1px}
.menu-out {width:120px; height:120px; background-position: -367px -1px}
.menu-weather {width:119px; height:119px; background-position: -852px -1px}
